.list-col{
  display: grid;
  grid-template-columns: repeat(3, 201px);
  grid-template-rows: repeat(5, 260px);
  gap: 52px 77px;
  padding: 0;
  padding-top: 82px;
  justify-content: center;
}

.col-item {
  list-style-type: none;
  display: inline-grid;
}

.col-item:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}
.col-item:nth-child(2){
  grid-column-start: 2;
}
.col-item:nth-child(3){
  grid-row-start: 2;
  grid-row-end: 4;
}
.col-item:nth-child(4){
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.col-item:nth-child(5){
  grid-row-start: 4;
}
.col-item:nth-child(6){
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.col-item:nth-child(7){
  grid-column-start: 2;
}

.col-item img {
  width: 100%;
  object-fit: cover;
  height: 60px;
  aspect-ratio: 2/1;
  transition: height 1s;
}

.col-item:hover img {
  height: 100px;
}

.col-title {
  font-size: 35px;
  margin-bottom: 21px;
  width: 180px;
  line-height: 45px;
  transition: 1s;
}

/* .col-item:hover .col-title {
  color: #5656f9;
} */

.col-container {
  border-left: solid white 13px;
  padding-left: 24px;
}

.col-data {
  display: inline-block;
  margin-top: 9px;
}

@media only screen and (max-width: 850px) {
  .list-col {
    gap: 46px 0;
    grid-template-columns: repeat(3, 205px);
    justify-content: space-evenly;
  }
  .col-item {
    width: 98%;
  }
  .col-container {
    padding-left: 4%;
}
.col-title {
  font-size: 29px;
  margin-bottom: 21px;
  width: 141px;
}
}

@media only screen and (max-width: 640px) {
  .list-col {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 12%;
  }

  .col-container {
    padding: 0px 2%;
  }

  .col-title {
    font-size: 7vmin;
    margin-bottom: 11px;
    width: 39%;
  }

  .col-item img {
    height: auto;
  }

  .col-item:hover img {
    height: auto;
  }
  
  .col-data {
    font-size: 6vmin;
    text-align: right;
    padding-right: 3%;
    display: block;
  }
  
}
@media only screen and (max-width: 400px) {
  .col-title {
    width: 100%;
  }
}
