.list-col{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 201px 77px 201px 77px 201px;
  grid-template-columns: repeat(3, 201px);
  -ms-grid-rows: 260px 52px 260px 52px 260px 52px 260px 52px 260px 52px 260px 52px 260px 52px 260px;
  grid-template-rows: repeat(8, 260px);
  gap: 52px 77px;
  padding: 0;
  padding-top: 82px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-col > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.list-col > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.list-col > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.list-col > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.list-col > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.list-col > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.list-col > *:nth-child(7){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.list-col > *:nth-child(8){
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.list-col > *:nth-child(9){
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}.list-col > *:nth-child(10){
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}.list-col > *:nth-child(11){
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}.list-col > *:nth-child(12){
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}.list-col > *:nth-child(13){
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}.list-col > *:nth-child(14){
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}.list-col > *:nth-child(15){
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}.list-col > *:nth-child(16){
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}.list-col > *:nth-child(17){
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}.list-col > *:nth-child(18){
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}.list-col > *:nth-child(19){
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}.list-col > *:nth-child(20){
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}.list-col > *:nth-child(21){
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}.list-col > *:nth-child(22){
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}.list-col > *:nth-child(23){
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}.list-col > *:nth-child(24){
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.col-item {
  list-style-type: none;
  display: -ms-inline-grid;
  display: inline-grid;
}

.col-item:nth-child(1){
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.col-item:nth-child(2){
  -ms-grid-column: 2;
      grid-column-start: 2;
}
.col-item:nth-child(4){
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.col-item:nth-child(5){
  -ms-grid-row: 4;
      grid-row-start: 4;
}
.col-item:nth-child(6){
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.col-item:nth-child(7){
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.col-item:nth-child(11){
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.col-item:nth-child(12){
  -ms-grid-column: 2;
  grid-column: 2;
}

.col-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 60px;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}

.col-item:hover img {
  height: 100px;
}

.col-title {
  font-size: 35px;
  margin-bottom: 21px;
  width: 180px;
  line-height: 45px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.col-container {
  border-left: solid white 13px;
  padding-left: 24px;
}

.col-data {
  display: inline-block;
  margin-top: 9px;
}

@media only screen and (max-width: 850px) {
  .list-col {
    gap: 46px 0;
    -ms-grid-columns: 205px 0 205px 0 205px;
    grid-template-columns: repeat(3, 205px);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .col-item {
    width: 98%;
  }
  .col-container {
    padding-left: 4%;
}
.col-title {
  font-size: 29px;
  margin-bottom: 21px;
  width: 141px;
}
}

@media only screen and (max-width: 640px) {
  .list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding-top: 0;
  }

  .col-container {
    padding: 0px 2%;
  }

  .col-title {
    font-size: 7vmin;
    margin-bottom: 11px;
    width: 39%;
  }

  .col-item img {
    height: 43vw;
  }

  .col-item:hover img {
    height: auto;
  }
  
  .col-data {
    font-size: 6vmin;
    text-align: right;
    padding-right: 3%;
    display: block;
  }
  
}
@media only screen and (max-width: 400px) {
  .col-title {
    width: 100%;
  }
}