.contact-container {
  width: 50%;
  margin: auto;
  height: 770px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.xarxes.contact {
  margin: 13px 0;
}

.contact-mail {
  font-size: 25px;
  transition: 0.7s;
}

.contact-mail:hover {
  color: #84b7ff;
}



@media only screen and (max-width : 640px) {
  .contact-container {
    width: 100%;
    height: 120vmin;
    margin: 20vmin 5%;
    justify-content: flex-start;
  }

  .contact-title {
    font-size: 2.2em;
  }

  .cur-data {
    line-height: 166%;
  }

  .cur-data:nth-child(1), .cur-data:nth-child(10), .cur-data:nth-child(20), .cur-data:nth-child(27) {
    margin-bottom: 6px;
}

}

@media only screen and (max-width : 300px) {
  .contact-title {
    font-size: 26px;
  }

  .contact-title {
    font-size: 22px;
  }

  .contact-mail {
    font-size: 17px;
  }

}