.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 718px;
  margin-top: 70px;
  gap: 246px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-intro {
  width: 450px;
  font-size: 32px;
  position: relative;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.home-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 309px;
  height: 432px;
  -webkit-transition: 1s 0.2s;
  -o-transition: 1s 0.2s;
  transition: 1s 0.2s;
  right: 0;
  opacity: 1;
}

.home-img {
  width: 280px;
  /* border: solid 12px white; */
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.hidden-home {
  visibility: hidden;
  opacity: 0;
}

.side-l{
  position: relative;
  left: -100px;
  opacity: 0;

}

.side {
  position: relative;
  right: -100px;
  opacity: 0;

}

@media only screen and (max-width:1110px) {
  .home {
    gap: 36px;
  }
}

@media only screen and (max-width:870px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 3%;
    height: 100%;
  }
  .home-intro {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 3%;
    height: 100%;
  }
  .home-intro {
    font-size: 20px;
  }
  .home-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .home-img-container {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 89vw;
  }
}