.proc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
  margin: 0 2%;
}

.proc-par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px auto;
  gap: 44px;
  height: 466px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proc-img {
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 320px;
  aspect-ratio: 1/1;
  /* border: solid white 6px; */
}

.proc-text {
  margin-top: 0;
}

.proc-p {
  width: 409px;
}

.proc-par:nth-child(1), .proc-par:nth-child(3) {
  background: #c8bba7;
}
.proc-par:nth-child(3) img {
  -o-object-position: -86px;
     object-position: -86px;
}

@media only screen and (max-width: 900px){
  .proc-par {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    padding: 4% 0;
    gap: 14px;
  }

  .proc-par:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .proc-p {
    width: 319px;
  }
  
}

@media only screen and (max-width: 430px){
  .proc-img {
    width: 100%;
    height: auto;
  }
  .proc-p {
    width: 100%;

  }
  .proc-par {
    padding: 13% 6%;
  }
  .proc-text {
    font-size: 14px;
  }
  
}

