.prj-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 210px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prj-intro {
  margin: 0;
  font-size: 24px;
  line-height: 140%;
  width: 20%;
  margin-right: 3%;
}

.list-prj {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px 6px 230px 6px 230px 6px 230px;
  grid-template-columns: repeat(4, 230px);
  -ms-grid-rows: 230px 6px 230px 6px 230px 6px 230px;
  grid-template-rows: repeat(4, 230px);
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}

.list-prj > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.list-prj > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.list-prj > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.list-prj > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.list-prj > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.list-prj > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.list-prj > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.list-prj > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.list-prj > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.list-prj > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.list-prj > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.list-prj > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.list-prj > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.list-prj > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.list-prj > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.list-prj > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.prj-item {
  list-style-type: none;
  display: inherit;
  overflow: hidden;
  position: relative;
}

.prj-item:nth-child(1){
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.prj-item:nth-child(2){
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
.prj-item:nth-child(2) img{
  /* margin-top: -9px; */
}

.prj-item:nth-child(3){
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}
.prj-item:nth-child(4){
  -ms-grid-row: 1;
      grid-row-start: 1;
}
.prj-item:nth-child(4) img{
  width: 190%;
}

.prj-item:nth-child(5){
  -ms-grid-column-span: 3;
  grid-column-end: 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.prj-item::after{
  content: 'Vi_suals';
  position: absolute;
  text-align: center;
  font-size: 30px;
  background: #c8bba7b9;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  pointer-events: none;
  font-weight: 800;
}
.prj-item:hover:after{
  opacity: 1;
  visibility: visible;
}

.prj-item:nth-child(2):after {
  padding-top: 20%;
  content: 'The booc';
}

.prj-item:nth-child(3):after {
  content: 'Sobrerroca';
}

.prj-item:nth-child(4):after {
  content: 'Dpeus';
}

.prj-item:nth-child(5):after {
  padding-top: 80%;
  content: 'Calidoscopi';
}

.prj-item:nth-child(6):after {
  content: 'Waterland';
}

.prj-item:nth-child(6) img {
  -o-object-position: left;
     object-position: left;
}
.prj-item:nth-child(7):after {
  content: 'Clínica Patricia Correa';
  padding-top: 20%;
}

.prj-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media only screen and (max-width : 1330px) {
  .prj-container {
    gap: 3%;
    margin-top: 113px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
  .prj-intro {
    font-size: 19px;
    width: 940px;
    margin: 0 auto 32px;
    padding-right: 490px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

}


@media only screen and (max-width : 1000px) {
  .list-prj {
    -ms-grid-columns: (20%)[4];
    grid-template-columns: repeat(4, 20%);
    -ms-grid-rows: (26%)[4];
    grid-template-rows: repeat(4, 26%);
  }
  .list-prj > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .list-prj > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .list-prj > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .list-prj > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .list-prj > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .list-prj > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .list-prj > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .list-prj > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .list-prj > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .list-prj > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .list-prj > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .list-prj > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .list-prj > *:nth-child(13) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .list-prj > *:nth-child(14) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .list-prj > *:nth-child(15) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .list-prj > *:nth-child(16) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }

  .prj-item::after {
    font-size: 17px;
  }
  .prj-intro {
    width: 82%;
    padding-right: 43%;
}
}


@media only screen and (max-width : 640px) {
  .prj-container {
    margin-top: 35px;
  }

  .prj-intro {
    width: 90%;
    padding-right: 0;
  }

  .list-prj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    margin: 0 5px;
    padding-top: 0;
  }

  .prj-item {
    margin-bottom: 15px;
    aspect-ratio: 1/1;
  }

  .prj-item:nth-child(4) img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    -o-object-position: left;
       object-position: left;
  }

  .prj-item img {
    aspect-ratio: 1/1;
    margin-top: 35px;
  }
  .prj-item:after, .prj-item:nth-child(2):after, .prj-item:nth-child(5):after, .prj-item:nth-child(7):after {
    padding-top: 0;
    text-align: left;
    left: 15px;
    background: 0;
    opacity: initial;
    visibility: visible;
  }

}

@media only screen and (max-width : 300px) {
  .prj-intro {
    font-size: 15px;
    line-height: 155%;
  }
}