.prj-d-pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 550px;
}

.prj-d-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  display: inherit;
  aspect-ratio: 1/1;
}

.prj-d-data {
  margin: 0 50px 50px;
}

.prj-d-data p{
  line-height: 170%;
  margin: 0;
  width: 50%;
  font-size: 15px;
}

.prj-d-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto;
  grid-template-columns: repeat(3,auto);
  gap: 10px;
  margin: 0 10px;
}

.img-h {
  aspect-ratio: 2/1;
}

.img-2-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.img-1-3-h {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.img-2-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.img-1-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.img-p-left {
  -o-object-position: left;
     object-position: left;
}

.img-p-r {
  -o-object-position: right;
     object-position: right;
}

.img-1-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.img-ar0 {
  aspect-ratio: 0;
}

.img-2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.img-3-r7 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 7;
  grid-row: 7;
}

.img-a-r {
  -o-object-position: right;
     object-position: right;
}

@media only screen and (max-width: 870px) {
  .prj-d-data p {
    width: 100%;
  }
  .prj-d-pic {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 410px;
  }
}

@media only screen and (max-width: 640px) {

  .prj-d-pic {
    height: 320px;
  }

  .title-prj-d {
    font-size: 34px;
  }

  .prj-d-data {
    margin: 0 5% 11%;
  }

  .prj-d-data p {
    width: 100%;
  }

  .prj-d-img-container {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prj-d-data p {
    line-height: 155%;
    font-size: 14px;
  }
  .img-2-4-h, .img-1-3, .img-2-4 {
    grid-column: auto
  }
}

@media only screen and (max-width: 350px) {
  .title-prj-d {
    font-size: 22px;
}
}