.prj-container {
  display: flex;
  margin-top: 210px;
  justify-content: center;
  gap: 5%;
}

.prj-intro {
  margin: 0;
  font-size: 24px;
  line-height: 140%;
  width: 20%;
}

.list-prj {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-template-rows: repeat(4, 230px);
  margin-top: 0;
  justify-content: center;
  gap: 6px;
}

.prj-item {
  list-style-type: none;
  display: inherit;
  overflow: hidden;
  position: relative;
}

.prj-item:nth-child(1){
  grid-column: 1/3;
  grid-row: 1/3;
}

.prj-item:nth-child(2){
  grid-column: 3/5;
}
.prj-item:nth-child(2) img{
  margin-top: -9px;
}

.prj-item:nth-child(3){
  grid-column: 3/5;
  grid-row: 3/5;
}
.prj-item:nth-child(4){
  grid-row-start: 1;
}
.prj-item:nth-child(4) img{
  object-fit: contain;
  width: 190%;
  height: auto;
}

.prj-item:nth-child(5){
  grid-column-end: 3;
  grid-row: 3/5;
}

.prj-item:nth-child(1)::after, .prj-item:nth-child(2)::after, .prj-item:nth-child(3)::after, .prj-item:nth-child(4)::after, .prj-item:nth-child(5)::after, .prj-item:nth-child(6)::after{
  content: 'Vi_suals';
  position: absolute;
  text-align: center;
  font-size: 30px;
  background: #e5b29aaa;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  pointer-events: none;
  font-weight: 800;
}
.prj-item:nth-child(1):hover:after, .prj-item:nth-child(2):hover:after, .prj-item:nth-child(3):hover:after, .prj-item:nth-child(4):hover:after, .prj-item:nth-child(5):hover:after, .prj-item:nth-child(6):hover:after{
  opacity: 1;
  visibility: visible;
}

.prj-item:nth-child(2):after {
  padding-top: 20%;
  content: 'The booc';
}

.prj-item:nth-child(3):after {
  content: 'Sobrerroca';
}

.prj-item:nth-child(4):after {
  content: 'Dpeus';
}

.prj-item:nth-child(5):after {
  padding-top: 80%;
  content: 'Calidoscopi';
}

.prj-item:nth-child(6):after {
  content: 'Waterland';
}

.prj-item:nth-child(6) img {
  object-position: left;
}

.prj-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* aspect-ratio: 1/1; */
}

@media only screen and (max-width : 1330px) {
  .prj-container {
    gap: 3%;
    margin-top: 113px;
    flex-direction: column;
    }
  .prj-intro {
    font-size: 19px;
    width: 940px;
    margin: 0 auto 32px;
    padding-right: 490px;
    box-sizing: border-box;
    }

}


@media only screen and (max-width : 1000px) {
  .list-prj {
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 26%);
  }

  .prj-item:nth-child(1)::after, .prj-item:nth-child(2)::after, .prj-item:nth-child(3)::after, .prj-item:nth-child(4)::after, .prj-item:nth-child(5)::after, .prj-item:nth-child(6)::after {
    font-size: 17px;
  }
  .prj-intro {
    width: 82%;
    padding-right: 43%;
}
}


@media only screen and (max-width : 640px) {
  .prj-container {
    margin-top: 35px;
  }

  .prj-intro {
    width: 90%;
    padding-right: 0;
  }

  .list-prj {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 5px;
    padding-top: 0;
  }

  .prj-item:nth-child(4) img {
    object-fit: cover;
    width: 100%;
    object-position: left;
  }
  .prj-item:nth-child(1):hover:after, .prj-item:nth-child(2):hover:after, .prj-item:nth-child(3):hover:after, .prj-item:nth-child(4):hover:after, .prj-item:nth-child(5):hover:after, .prj-item:nth-child(6):hover:after{
    opacity: 0;
    visibility: hidden;
  }
  .prj-item img {
    aspect-ratio: 1/1;
  }
  .prj-item {
    aspect-ratio: 1/1;
  }
}

@media only screen and (max-width : 300px) {
  .prj-intro {
    font-size: 15px;
    line-height: 155%;
  }
}