*{
  font-family: sans-serif;
}

.select{
  position: relative;
  width: 48px;
  height: 37px;
  padding: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.select:after {
  content: '';
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 0;
  left: 0;
  top: 29px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

.select:hover:after{ 
  width: 100%; }


.select:hover {
  cursor: pointer;
}

#hidden{
  visibility: hidden;
}

#hidden ul {
  top: 4px;
  margin-top: 8px;
  margin-bottom: 11px;
  padding: 0;
}

#hidden ul li {
  height: 30px;
  list-style-type: none;
}

#hidden li {
 background-color: rgba(255, 255, 255, 0.66);
 opacity: 0%;
 -webkit-transform: translate(10px);
     -ms-transform: translate(10px);
         transform: translate(10px);
 -webkit-transition: ease-out 1s;
 -o-transition: ease-out 1s;
 transition: ease-out 1s;
}

#hidden ul li:nth-child(2){
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#hidden button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

#hidden button:hover {
  cursor: pointer;
  font-weight: 700;
}

.select svg {
  width: 12px;
  display: inline-block;
  margin-left: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  stroke: #000000;
}

@media only screen and (max-width : 640px) {
  .select:after {
    top: 39px;
  }
  .select{
    width: 55px;
  }
}